---
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    env_file:
      - stack.env #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=${PORT_1}
      - TORRENTING_PORT=${PORT_2}
    volumes:
      - /mnt/user/appdata/qbittorrent/appdata:/config
      - /mnt/user/Download/torrent:/downloads #optional
    ports:
      - ${PORT_1}:${PORT_1}
      - ${PORT_2}:${PORT_2}
      - ${PORT_2}:${PORT_2}/udp
    restart: unless-stopped