services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    env_file:
      - stack.env #optional
    ports:
      - "${PORT_1}:5678"
    volumes:
      - /docker/n8n/.:/home/node/.n8n
    environment:
      # Basic configuration
      - N8N_BASIC_AUTH_ACTIVE=true          # Enables basic auth
      - N8N_BASIC_AUTH_USER=${USER}           # Username for basic auth
      - N8N_BASIC_AUTH_PASSWORD=${PASS}    # Password for basic auth
      
      # URL configuration
      - N8N_HOST=localhost                  # Hostname of the instance
      - N8N_PORT=5678                       # Port n8n runs on
      - N8N_PROTOCOL=http                   # Protocol to use (http or https)
      
      # Database configuration
      - DB_TYPE=sqlite                      # Use SQLite by default
      - DB_SQLITE_VACUUM_ON_STARTUP=true    # Optimizes SQLite database on startup
      
      # Customize if needed
      - GENERIC_TIMEZONE=${TZ}   # Optional: Set server timezone

      - N8N_SECURE_COOKIE=${SECURE_COOKE}

      - WEBHOOK_URL=${DOMAIN_ADDRESS}

      # Persist n8n data across container restarts