---
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    env_file:
      - stack.env #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=${VERSION}
      - PLEX_CLAIM=${PLEX_CLAIM}
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    volumes:
      - /mnt/user/appdata/plex:/config
      - /mnt/user/Media/TV:/tv
      - /mnt/user/Media/Movie:/movies
    ports:
      - ${PORT_1}:32400/tcp
      - ${PORT_1}:32400/udp
      - 1900:1900/udp
      # - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    restart: unless-stopped
