---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    env_file:
      - stack.env #optional
    environment:
      - PUID=${PUID}
      - PGID=${PUID}
      - TZ=${TZ}
    volumes:
      - /mnt/user/appdata/jellyfin/library:/config
      - /mnt/user/Media/TV:/data/tvshows
      - /mnt/user/Media/Movie:/data/movies
      - /mnt/user/Media/Music:/data/music
    devices:
      - /dev/dri:/dev/dri
    ports:
      - ${PORT_1}:8096
      - ${PORT_2}:7359/udp #optional
    restart: unless-stopped
