---
services:
  firefox:
    image: lscr.io/linuxserver/firefox:latest
    container_name: firefox
    security_opt:
      - seccomp:unconfined
    env_file:
      - stack.env #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/cache/appdata/firefox:/config
    ports:
      - ${PORT_1}:3000
      - ${PORT_2}:3001
    shm_size: "1gb"
    restart: unless-stopped
