services:
    main:
        volumes:
            - /mnt/user/appdata/Notes/siyuan-note/workspace:/siyuan/workspace
        env_file:
            - stack.env #optional
        ports:
            - ${PORT_1}:6806
        restart: unless-stopped
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ={TZ}
        image: apkdv/siyuan-unlock
        command: ['--workspace=/siyuan/workspace/', '--accessAuthCode=${ACCESS_CODE}']