services:
  kavita:
    image: lscr.io/linuxserver/kavita:latest
    container_name: kavita
    env_file:
      - stack.env #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=true
    volumes:
      - /mnt/user/appdata/kavita/config:/config
      - /mnt/user/Books:/data #optional
    ports:
      - ${PORT_1}:5000
    restart: unless-stopped