version: '3.8'

services:
  minio:
    image: minio_admin:latest@sha256:0ad23f15dff42ed1cc82ecdb4afa3f40b56b897108361a74fef44ec817982822
    container_name: minio
    restart: always
    ports:
      - "${PORT_1}:9000"
      - "${PORT_2}:9090"
    environment:
      MINIO_ROOT_USER: "${USER}"   # Change this to your desired admin username
      MINIO_ROOT_PASSWORD: "${PASS}" # Change this to a strong password
    command: server /data --console-address ":9090"
    volumes:
      - /mnt/user/dbdata/minio-data:/data