version: '3'
services:
  pinchflat:
    image: ghcr.io/kieraneglin/pinchflat:latest
    env_file:
      - stack.env #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - ${PORT_1}:8945
    volumes:
      - /mnt/user/appdata/pinchflat/config:/config
      - /mnt/user/Download/youtube:/downloads